@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
*
{
    background: #C2EFD4;
}
.header
{
    padding: 15px 10%;
    margin-top: 40px;
}
.container
{
    display: flex;
    justify-content: space-between;
}

.content-section
{
    margin-top: 20px;;
    max-width: 50%;
    width: 649px;
    height: 632px;
}
.content-section h1
{
    max-width: 100%;
    width: 649px;
    height: auto;
    font-family: 'Rufina', sans-serif;
    font-weight: bold;
    font-size: 73px;
    margin-bottom: 20px;
    color: #224F34;
    line-height: auto !important;
}
.content-section p
{
    font-size: 24px;
    font-family: 'poppins';
    line-height: 220%;;
    font-weight: medium;
    max-width: 100%;
    width: 565px;
    height: auto !important;
    color: #267D49;
}
.content-section button
{
    margin-top: 40px;
    border: none;
    outline: none;
    background: #224F34;
    color: #ffffff;
    padding: 10px 40px;
    max-width: 100%;
    width: 258;
    height: auto;
}

/* image css */
.image-section
{
    margin-top: 20px;;
    max-width: 50%;
    width: 570px;
    height: auto;
    background: #6BC785;
    border: none;
    outline: none;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: relative;

}
.image-section img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
    background: none;
}

.image-section::before,
.image-section::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #267144; 
    border-radius: 50%;
}

.image-section::before {
    top: 10px;
    right: 10px; 
}

.image-section::after {
    bottom: 10px;
    left: 10px; 
}
